<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <commerce.XA>
      <models>
        <MinicartRenderingModel type="Sitecore.Commerce.XA.Feature.Cart.Models.MinicartRenderingModel, Sitecore.Commerce.XA.Feature.Cart" set:type="Sitecore.Support.Commerce.XA.Feature.Cart.Models.MinicartRenderingModel, Sitecore.Support.292946" />
      </models>
    </commerce.XA>
    <services>
      <register serviceType="Sitecore.Commerce.XA.Feature.Cart.Repositories.IMinicartRepository, Sitecore.Commerce.XA.Feature.Cart" set:implementationType="Sitecore.Support.Commerce.XA.Feature.Cart.Repositories.MinicartRepository, Sitecore.Support.292946" />
    </services>
  </sitecore>
</configuration>